<% users.each do |user| %>
  <tr>
  <th>
      <% if user.avatar.attached? %>
      <%= image_tag user.avatar.variant(resize_to_fill: [30, 30])%>
      <% end %>
  </th>
  <td><%= user.email %></td>
  </tr>
<% end %>
