<div class="col-md-8">
  <h3><%= @title %>
</h3>
  <% if @users.any? %>
    <ul class="users follow">
      <%= render partial: 'user', locals: {users: @users }%>
    </ul>
    <%= paginate @users %>
  <% end %>
</div>
