<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<h2>ユーザ一覧</h2>
<table>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= link_to 'Show', user %></td>
    </tr>
  <% end %>
</table>
