/*
////////////////////////////////////////
reset.css を読み込んで全てのスタイルをなくす
////////////////////////////////////////
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
////////////////////////////////////////
reset.css では足りない初期化を追加
////////////////////////////////////////
*/

/* 全てに box-sizing: border-box; を適用 */
*, *:before, *:after {
  box-sizing: border-box;
}

/* 画像に関する初期設定 */
img {
  /* 大きい画像がはみ出さないように */
  max-width: 100%;
  /* 画像周りの無駄なスペースができないように */
  vertical-align: bottom;
}

/*
////////////////////////////////////////
初期設定
////////////////////////////////////////
*/

/*
////////////////////////////////////////
reset.css を読み込んで全てのスタイルをなくす
////////////////////////////////////////
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
////////////////////////////////////////
reset.css では足りない初期化を追加
////////////////////////////////////////
*/

/* 全てに box-sizing: border-box; を適用 */
*, *:before, *:after {
  box-sizing: border-box;
}

/* 画像に関する初期設定 */
img {
  /* 大きい画像がはみ出さないように */
  max-width: 100%;
  /* 画像周りの無駄なスペースができないように */
  vertical-align: bottom;
}

/*
////////////////////////////////////////
アプリ用設定
////////////////////////////////////////
*/

html {
  font-family: arial, sans-serif;
}

body {
  color: #111;
  background-color: #fffeff;
  font-size: small;
}

/* 全体を真ん中に配置 */
.container {
  max-width: 980px;
  width: 92%;
  min-width: 200px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fffeff;
  box-shadow: rgba(0, 0, 0, .4) 0 0 0px;
  /* floatを使った場合の対策 */
  overflow: hidden;
}

.main_title {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  padding: 1.5em;
  background-color: cornflowerblue;
}

.main_table {
  width: 100%;
}

.main_table th {
  padding: 1em;
  border-bottom: 1.4px solid #CCCCCC;
  font-size: 1.1em;
}

.main_table td {
  padding: .4em .5em;
  height: 2.8em;
  vertical-align: middle;
  border-bottom: 0.5px solid #EEEEEE;
}

.main_table .nowrap {
  white-space: nowrap;
}

.main_table tr:nth-child(odd) td {
  //background-color: #f0fafa;
}

.pagination {
  padding: 1em;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: center;
}

.btn {
  text-align: center;
  width: 200px;
  background-color: orange;
  text-decoration: none;
  color: white;
  padding: 1em;
}

.btn:hover {
  background-color: #CCCCCC;
}