<h1><%= t('views.common.title_edit', name: Report.model_name.human) %></h1>

<%= render 'form', report: @report %>

<%= link_to t('views.common.show'), @report %> |
<%= link_to t('views.common.back'), reports_path %>
